#banner {
    box-shadow: 10px 0px 13px black;
}

.card-header {
    background-color: #6e879e;
    color: white;
}

.card {
    margin: 0 20px 0 20px;
    box-shadow: 7px 10px 20px black;
}

.team-area {
    display: flex;
    justify-content: center;
}


/* Responsive latout */
@media screen and (max-width:600px){
    .team-area {
        flex-direction: column;
    }

    .card {
        margin: 0px 20px 10px 20px;
    }
    
}